.ownerCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tanks {
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 20px; 
    height: 35vh;
    width: 37%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: fit-content;
}

.tanks .nameAlign {
    align-self: flex-end;
    font-size: 1.5em;
}

.newTank {
    height: 35vh;
    margin: 20px; 
    font-size: 4em;
    width: 37%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
}

.newTank button {
    height: 80%;
}

.newTank input {
    height: 20%;
}