.flex-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-item span {
    padding: 3px;
    color: coral
}

.flex-item #destroy {
    border: none;
    color: silver;
    height: 100%;
    background-color: darkmagenta;
}